.strength-container {
  display: inline-flex;
  width: 200px;
  justify-content: space-between;
}

.strength-item {
  display: inline-block;
  height: 10px;
  background: gray;
  flex: 0 1 32%;

  border-radius: 3px;

}
.strength-container.danger{
  .strength-item{
      background: red;
  }
}

.strength-container.easy {
  .strength-item{
    &:first-child {
      background: red;
    }
  }
}

.strength-container.medium {
  .strength-item{
    &:first-child {
      background: yellow;
    }
    &:nth-child(2) {
      background: yellow;
    }
  }
}

.strength-container.strong {
  .strength-item{
    background: green;
  }
}
